<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="../static/dor.png" sizes="32x32">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>
      dora durudut dora
    </title> 
    <style>
      body, html, .container-fluid {
        height: 100%;
      }
      .column {
  float: left;
  float: right;
  width: 25%;
  padding: 5px;
}
    </style>
  </head>
  <body>	
    <div class="container-fluid">
      <div class="row" style="height:inherit">
        <!-- div class="container row-sm-10 col-sm-10 bg-dark text-white"> -->
        <div class="column">
          Simpul Awal
            <input type="number" class="form-control" id="startVal"> </p>
          </div>   
          <div class="column">
            Simpul Akhir
              <input type="number" class="form-control" id="endVal"> </p>
              <button onclick="sendData()" class="btn btn-info btn-block">Process</button>  
            </div>     
            <div class="column">
              <label for="dist">Jarak yang ditempuh</label>
              <textarea class="form-control" id="dist" rows=2 readonly></textarea>
            </div>         
        <div class="column">
          <label for="demo">Jalur terdekat</label>
          <textarea class="form-control" id="demo" rows=5 readonly></textarea>
        </div>
        <!-- </div> -->
        <div class = "col-sm-12" style="height:100%" id="map"></div>
      </div>
    </div>
    <script src="../static/main2.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsWQzyJJr6MyjtJHtw4jeOPCO5pwq6vyo&callback=initMap"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
