body {
    height: 200px;
    width: 500px;
    background: black;

    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 65px; 
    text-align: center;
    font-style: italic;
    line-height: 25px;
    color:rgb(0, 0, 0);
}

h2 {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px; 
    text-align: center;
    letter-spacing: 3px;
    line-height: 0px;
    padding-bottom: 20px;
    color:rgb(0, 0, 0);
}